{
  "openapi": "3.0.0",
  "info": {
    "title": "GICS",
    "description": "Global Industry Classification Standard",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hagenhaus.com:3002/api/v1"
    }
  ],
  "paths": {
    "/industry-classifications/gics/sectors": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "This operation returns an array of [GICS](https://en.wikipedia.org/wiki/Global_Industry_Classification_Standard) sector records. Each record consists of an id and a name.",
        "operationId": "getSectors",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Limits the returned records to those whose names include this value.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specifies the max number of records per response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Specifies which page of records to return. 1 means first page.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Specifies the field used to order response records. If not specified, the response records are ordered by *id*.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Specifies the sort direction. If not specified, the response records are ordered *asc*.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "countsOnly",
            "in": "query",
            "description": "If true, the operation returns counts, but no records.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountsIdNames"
                },
                "example": [
                  {
                    "counts": {
                      "totalRecords": 11,
                      "totalFilteredRecords": 11,
                      "totalResponseRecords": 3
                    },
                    "records": [
                      {
                        "id": 10,
                        "name": "Energy"
                      },
                      {
                        "id": 15,
                        "name": "Materials"
                      },
                      {
                        "id": 20,
                        "name": "Industrials"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/industry-classifications/gics/industry-groups": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "sss.",
        "operationId": "getIndustryGroups",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/industry-classifications/gics/industries": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "sss.",
        "operationId": "getIndustries",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/industry-classifications/gics/subindustries": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "sss.",
        "operationId": "getSubindustries",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Counts": {
        "title": "Counts",
        "type": "object",
        "properties": {
          "totalRecords": {
            "type": "integer"
          },
          "totalFilteredRecords": {
            "type": "integer"
          },
          "totalResponseRecords": {
            "type": "integer"
          }
        }
      },
      "IdName": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "IdNames": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/IdName"
        }
      },
      "CountsIdNames": {
        "type": "object",
        "properties": {
          "counts": {
            "$ref": "#/components/schemas/Counts"
          },
          "records": {
            "$ref": "#/components/schemas/IdNames"
          }
        }
      }
    }
  }
}