/************************************************
 vertical
************************************************/

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
}

b {
  color:black;
  font-weight:500;
}

/* body {--bs-bg-opacity: 1; background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));} */
#book-col,
#page-col,
#otp-col {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  height: calc(100% - 56px);
}

#page-col div.hh-viewer:not(.hh-shield) h1 {
  margin-top: 24px;
  margin-bottom: 16px;
}

#page-col div.hh-viewer:not(.hh-shield) h2 {
  margin-top: 20px;
  margin-bottom: 16px;
}

#page-col div.hh-viewer:not(.hh-shield) h3 {
  margin-top: 20px;
  margin-bottom: 16px;
}

#page-col div.hh-viewer:not(.hh-shield) p,
#page-col div.hh-viewer:not(.hh-shield) h4,
#page-col div.hh-viewer:not(.hh-shield) h6,
#page-col div.hh-viewer:not(.hh-shield) table {
  margin-top: 16px;
  margin-bottom: 16px;
}

#page-col div.hh-viewer div[class^="col-"] img {
  margin: 0 !important;
}

/************************************************
 responsive
************************************************/

/* $grid-breakpoints: (  xs: 0,  sm: 576px,  md: 768px,  lg: 992px,  xl: 1200px,  xxl: 1400px); */

#book-col.display {
  display: none;
}

#page-col.display {
  display: block;
}

#otp-col.display {
  display: none;
}

@media (min-width: 768px) {
  #book-col {
    max-width: 280px;
    min-width: 280px;
  }

  #otp-col {
    max-width: 280px;
    min-width: 280px;
  }

  #book-col.display {
    display: block;
  }

  #page-col div.show-book-col {
    display: none;
  }
}

@media (min-width: 1200px) {
  #page-col button.show-otp-col {
    display: none;
  }

  #otp-col.display {
    display: block;
  }
}

/************************************************
 color constants
************************************************/

:root {
  --soft0: #d9d9d9;
}

:root {
  --soft1: #e6e6e6;
}

:root {
  --soft2: #f2f2f2;
}

:root {
  --soft3: #f4f4f4;
}

:root {
  --soft4: #f7f7f7;
}

:root {
  --soft5: #f9f9f9;
}

:root {
  --soft6: #f8f8f8;
}

:root {
  --soft7: azure;
}

:root {
  --snippet: #f2f6fa;
}

:root {
  --snippet-border: #c8daea;
}

/************************************************
 colors
************************************************/
/*
body {background-color: white;}
#book-col {background: white;}
#page-col {background: white;}
#otp-col {background: white;}
*/
em {
  color: var(--bs-body-color);
  font-weight: normal;
}

/************************************************
 body buttons
************************************************/

/* button,  */
a[role="button"]:not(.step) {
  border-color: rgba(0, 0, 0, 0.1) !important;
  color: #6c757d;
  padding: 0.25rem 0.5rem;
}

/************************************************
 header .navbar-dark .navbar-nav .nav-link
************************************************/

header button.navbar-toggler {
  color:white !important;
  border-color:transparent !important;
}

header a.navbar-brand,
header ul.navbar-nav>li.nav-item>a.nav-link {
  color: white;
}

header ul.dropdown-menu a.nav-link span {
  color: var(--bs-body-color);
  font-size: 92%;
}

header ul.navbar-nav a.active span {
  border-bottom: 2px solid white;
  color: white;
}

.nav-link-a {
  padding-left: .3rem;
  padding-right: .3rem;
}

/************************************************
 main
************************************************/
/*
main {padding-left: 12px; padding-right: 12px;}
*/
i.fa-angle-right {
  width: 10px;
}

#book-col,
#otp-col {
  padding: 16px 12px;
}

#page-col {
  padding: 16px 24px;
}

#book-col div.book-title,
#book-col div.chapter-title,
#book-col div.page-title {
  border-radius: 4px;
  padding: 3px 4px;
}

#book-col div.book-title {
  margin: 1px 0px 1px 30px;
}

#book-col div.chapter-title,
#book-col div.page-title {
  margin: 1px 0px;
}

#book-col div.chapter-icon-col {
  padding-top: 3px;
  padding-right: 8px;
}

#book-col div.chapter-empty-col {
  width: 30px;
}

#book-col div.book-title {
  font-weight: bold;
}

#book-col div.book-title:hover,
#book-col div.chapter-title:hover,
#book-col div.page-title:hover,
#otp-col i:hover {
  cursor: pointer;
}

#book-col div.chapter-title:hover,
#book-col div.page-title:hover,
#otp-col ul li a:hover {
  background: #f2f2f2;
  /* 6AC6E7 */
  /*color: white;*/
}

#book-col div.chapter-title.active,
#book-col div.page-title.active,
#otp-col ul li:not(.top) a.active {
  background: #359585;
  color: white;
}

/* 28ADDC */

/*i.fas {color: #bfbfbf;}*/
i.fas:hover {
  cursor: pointer;
}

/************************************************
 book-col
************************************************/

#book-col div.chapter-icon-col i.clear {
  color: white;
}

#book-col div.col {
  padding-left: 0;
}

#book-col div.chapter-title,
#book-col div.page-title,
#otp-col li a {
  font-size: 94%;
}

#book-col div.page-title {
  margin-left: 12px;
}

/************************************************
 page-col
************************************************/

#book-col {
  /*box-shadow: inset -1px 0 3px -2px black;*/
  border-right: 1px solid var(--soft1);
}

#page-col {
  scroll-padding-top: 20px;
}

#otp-col {
  /*box-shadow: inset 1px 0 3px -2px black;*/
  border-left: 1px solid var(--soft1);
}

#page-col div.hh-page-header {
  border-bottom: 3px double var(--soft1);
  padding-bottom: 16px;
}

#page-col div.hh-viewer-wrapper {
  max-width: 900px;
}

#page-col div.hh-viewer-wrapper span.title {
  font-weight: normal;
  font-size: 22px;
}

#page-col div.hh-viewer-wrapper div.metadata {
  font-size: 92%;
}

#page-col div.hh-viewer-wrapper div.hh-page-header {
  margin-bottom: 16px;
}

#page-col div.hh-viewer-wrapper div.hh-versions {
  margin-bottom: 16px;
}

#page-col div.hh-viewer:not(.hh-shield) h1 {
  font-weight: 500;
  font-size: 22px;
}

#page-col div.hh-viewer:not(.hh-shield) h1:after {
  content: ' ';
  display: block;
  border-top: 1px solid var(--soft1);
  margin-top: 3px;
}

#page-col div.hh-viewer:not(.hh-shield) h2 {
  color: black;
  font-weight: 500;
  font-size: 18px;
}

#page-col div.hh-viewer:not(.hh-shield) h3 {
  color: #b37400;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  /* text-transform: uppercase; */
}

#page-col div.hh-viewer:not(.hh-shield) h4 {
  font-weight: bold;
  font-size: 15px;
}

#page-col div.hh-viewer:not(.hh-shield) h6 {
  font-weight: bold;
  font-size: 15px;
}

#page-col a:not(.btn) {
  color: steelblue;
  text-decoration: none;
}

#page-col a:hover:not(.btn) {
  color: #2b506e;
  text-decoration: none;
}

#page-col div.hh-viewer:not(.hh-shield) ul:not(.nav) {
  list-style-type: square;
}

#page-col img.hh-shadow {
  box-shadow: 0px 3px 5px #cccccc;
}

#page-col img.hh-halign-indent {
  margin-left: 18px;
  margin-right: auto;
}

#page-col img.hh-halign-center {
  margin-left: auto;
  margin-right: auto;
}

#page-col img.hh-halign-right {
  margin-left: auto;
  margin-right: 0;
}

.noscroll::-webkit-scrollbar {
  display: none;
}

.noscroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p.punch span {
  color: #F45747;
}

#page-col div.hh-viewer-wrapper span.author,
#page-col div.hh-viewer-wrapper span.published-date {
  font-size: 92%;
}

#page-col p.q-and-a {
  color: steelblue;
  cursor: pointer;
}


/************************************************
 blockquote
************************************************/

#page-col div.hh-viewer blockquote {
  background: #fff6e6;
  border-left: 5px solid orange;
  margin: 16px 0;
  padding: 3px 12px;
}

#page-col div.hh-viewer blockquote h1,
#page-col div.hh-viewer blockquote h2,
#page-col div.hh-viewer blockquote h3,
#page-col div.hh-viewer blockquote h4,
#page-col div.hh-viewer blockquote h5,
#page-col div.hh-viewer blockquote h6 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 16px;
}

#page-col div.hh-viewer blockquote h1:after {
  content: ' ';
  display: none;
}

/************************************************
 iframe
************************************************/

iframe.gray-scale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

/************************************************
 table
************************************************/

#page-col div.hh-viewer:not(.hh-shield) table {
  border-collapse: collapse;
}

#page-col div.hh-viewer:not(.hh-shield) td,
#page-col div.hh-viewer:not(.hh-shield) th {
  border: 1px solid #9fc6c6;
  line-height: var(--bs-body-line-height);
  /*line-height: normal;*/
  padding: 0.5rem;
  /*text-align: left;*/
  vertical-align: top;
}

#page-col div.hh-viewer:not(.hh-shield) th {
  color: DarkSlateGray;
  font-weight: 500;
}

#page-col div.hh-viewer:not(.hh-shield) td {
  color: DarkSlateGray;
}

#page-col div.hh-viewer:not(.hh-shield) td:first-child {
  white-space: nowrap;
}

table.options-table {
  border-left: 5px solid #ffd280;
  font-size: 92%;
  width: 100%;
}

table.options-table tr {
  background: #fff6e6;
}

table.options-table th {
  width: 0.1%;
  white-space: nowrap;
}

table.options-table th, table.options-table td {
  border-width: 0 !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

table.options-table.h2 {
  border-left: 5px solid pink;
}

/************************************************
 Snippet
************************************************/

#page-col div.hh-viewer:not(.hh-shield) ol.snippet {
  background-color: var(--snippet);
  /* github-light modified*/
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  margin-bottom: 0;
  border-left: 5px solid var(--snippet-border);
}

#page-col div.hh-viewer:not(.hh-shield) pre:not(.snippet):not(.microlight) {
  background-color: var(--soft6);
  padding: .5rem .5rem;
  overflow-x: none;
  overflow-x: auto;
  /* ??? */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

#page-col div.hh-viewer:not(.hh-shield) ol.snippet::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

#page-col div.hh-viewer:not(.hh-shield) ol.snippet li:first-child {
  padding-top: 3px;
}

#page-col div.hh-viewer:not(.hh-shield) ol.snippet li {
  background-color: var(--snippet);
  /* github-light modified*/
  font-family: var(--bs-font-monospace);
  font-size: 95%;
  padding: 1px 8px;
  white-space: pre;
  color: var(--bs-body-color);
}

#page-col div.hh-viewer:not(.hh-shield) pre:not(.snippet) code {
  font-family: var(--bs-font-monospace);
  font-size: 90%;
}

#page-col div.hh-viewer:not(.hh-shield) ol.snippet li:first-child {
  padding-top: 6px;
}

#page-col div.hh-viewer:not(.hh-shield) ol.snippet li:last-child {
  padding-bottom: 6px;
}

#page-col div.hh-viewer:not(.hh-shield) pre.numbered ol.snippet li::marker {
  color: var(--bs-body-color);
  content: attr(value) " ";
}

#page-col div.hh-viewer:not(.hh-shield) pre.numbered ol {
  padding-left: 3.0rem;
}

#page-col div.hh-viewer:not(.hh-shield) pre.numbered ol li {
  border-left: 1px solid var(--snippet-border);
}

#page-col div.hh-viewer:not(.hh-shield) pre.unnumbered ol {
  list-style-type: none;
  padding-left: 0;
}

#page-col div.hh-viewer:not(.hh-shield) pre.unnumbered ol li {
  border-left: none;
}

#page-col div.hh-viewer:not(.hh-shield) code {
  /*color: #009999;*/
  color: #806600;
  font-size: 13px;
}

/************************************************
 otp-col
************************************************/

#otp-col ul {
  list-style: none;
  padding-left: 0;
}

#otp-col ul li {
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 1.3em;
}

#otp-col ul li ul {
  padding-left: 9px;
}

#otp-col ul li a {
  color: #404040;
  font-size: 90%;
  display: block;
  padding: 1px 0 1px 4px;
  border-radius: 2px;
  text-decoration: none;
}

#otp-col ul li a {
  font-weight: normal;
}

#otp-col>ul>li>a {
  font-weight: normal;
}

#reach-slides button.carousel-control-prev,
#reach-slides button.carousel-control-next {
  align-items: flex-start;
  padding: 1.3% 18px;
}

#reach-slides button.carousel-control-prev {
  justify-content: flex-start;
}

#reach-slides button.carousel-control-next {
  justify-content: flex-end;
}

/*
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    background-color: orange;
    border-color: orange;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #996300;
    border-color: #996300;
}
*/

/************************************************
 Module Cards
************************************************/

/* #page-col div.card {
  background: #cce7ff;
  border: 1px solid #cce7ff;
}

#page-col div.card a,
#page-col div.card a:active,
#page-col div.card a:visited,
#page-col div.card a:hover,
#page-col div.card a:focus {
  color: var(--bs-body-color);
}

#page-col div.card small {
  color: #00294d;
}

#page-col div.card:hover,
#page-col div.card:focus {
  box-shadow: 0 0 4px #7ec2ff;
  -moz-box-shadow: 0 0 4px #7ec2ff;
  -webkit-box-shadow: 0 0 4px #7ec2ff;
  -o-box-shadow: 0 0 4px #7ec2ff;
} */

/************************************************
 banish
************************************************/

.banish {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/************************************************
 AngelList
************************************************/

.angellist_jobs-tags {
  color: #333333 !important;
}

.angellist_jobs-title-link,
.angellist_jobs-title-link:hover,
.angellist_jobs-title-link:visited,
.angellist_jobs-title-link:active {
  font-weight: bold !important;
}

div.social-icons a i {
  color: #595959;
}

/************************************************
 Search
************************************************/

#search-results-list li {
  margin-top: 18px;
}

#search-results-list span em {
  color: orange;
  font-style: normal;
}

/* Notes */

div.note {
  background: #F5F5DC;
  margin-left: 2em;
  padding: 0em 0.5em;
}

div.q-and-a {
  background: #F5F5DC;
  margin-left: 2em;
  padding: 0em 0.5em;
  cursor: pointer;
}

a span.icon-link:after {
  content: "#";
  margin-left: 0.2em;
}

/* Guitar */

.many-keys {
  width: auto;
  border-collapse: collapse;
}

.many-keys,
.many-keys th,
.many-keys td {
  border: 1px solid lightgray;
}

.many-keys th,
.many-keys td {
  padding: 4px;
}

.many-keys th:not(:first-child),
.many-keys td:not(:first-child) {
  width: 40px;
  text-align: center;
  font-size: 90%
}

.many-keys th:nth-child(4),
.many-keys td:nth-child(4) {
  background: linen;
}

.many-keys th:nth-child(5),
.many-keys td:nth-child(5) {
  background: aliceblue;
}

.many-keys th:nth-child(6),
.many-keys td:nth-child(6) {
  background: aliceblue;
}

.many-keys th:nth-child(7),
.many-keys td:nth-child(7) {
  background: aliceblue;
}

.many-keys th:nth-child(8),
.many-keys td:nth-child(8) {
  background: aliceblue;
}

.many-keys th:nth-child(9),
.many-keys td:nth-child(9) {
  background: aliceblue;
}

.many-keys th:nth-child(10),
.many-keys td:nth-child(10) {
  background: aliceblue;
}

.many-keys th:nth-child(11),
.many-keys td:nth-child(11) {
  background: aliceblue;
}

.many-keys th:nth-child(12),
.many-keys td:nth-child(12) {
  background: linen;
}

/************************************************
 Swagger
************************************************/

/* div.swagger-ui div.information-container {
  display: none;
}

div.swagger-ui div.scheme-container {
  display: none;
}

div.swagger-ui div.wrapper {
  padding: 0px;
}

div.swagger-ui h3.opblock-tag {
  display: none;
}

div.swagger-ui td.response-col_links {
  display: none;
}

div.swagger-ui div.filter-container {
  display: none;
}

div.swagger-ui span.opblock-summary-path {
  max-width: 100% !important;
}

div.swagger-ui div.opblock-summary-description {
  display: none;
}

div.swagger-ui button.opblock-summary-control svg.arrow {
  display: none;
}

div.swagger-ui button.opblock-summary-control:focus {
  outline: none;
}

div.swagger-ui div.download-contents {
  right: 20px;
}

div.swagger-ui button.opblock-summary-control span.opblock-summary-operation-id {
  margin-left: auto;
}

div.swagger-ui .opblock {
  box-shadow: none;
} */

/*#page-col div.hh-viewer div.opblock-body p {margin: 0px;}*/
#page-col div.hh-viewer:not(.hh-shield) table.parameters {
  margin: 0px;
}

#page-col div.hh-viewer:not(.hh-shield) table.responses-table {
  margin: 0px;
}

#page-col div.hh-viewer:not(.hh-shield) table.parameters td,
#page-col div.hh-viewer:not(.hh-shield) table.parameters th,
#page-col div.hh-viewer:not(.hh-shield) table.responses-table td,
#page-col div.hh-viewer:not(.hh-shield) table.responses-table th {
  border: none;
}

#page-col div.hh-viewer:not(.hh-shield) div.model-example ul {
  list-style: none;
  list-style-type: none;
}

/************************************************
 Toast
************************************************/

div.toast {
  box-shadow: -0.2rem 0.3rem 0.3rem rgb(0 0 0 / 40%);
}

/************************************************
 Articles
************************************************/

div.articles-item div.title a {
  font-size:125%;
}

div.articles-item div.byline {
  font-size:92%;
  font-weight:500;
  margin-top:3px;
}

div.articles-item div.summary {
  margin-top:6px;
  margin-bottom:18px;
}
