/*********************************
* GENERAL
**********************************/

/* .revert * { all: revert; } */

/* 
So, I can revert per property.
div.hh-data-list button {
  border: revert;
} */

div.hh-data-list details {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: .5em .5em 0;
}

div.hh-data-list details>summary {
  border-radius: .25rem;
  display: flex;
  list-style: none;
  margin: -.5em -.5em 0;
}

div.hh-data-list details[open]>summary {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: .5em;
}

div.hh-data-list details>summary::-webkit-details-marker {
  display: none;
}

div.hh-data-list details>summary div.hh-title-col {
  font-size: 96%;
  font-weight: 500;
  line-height: 2;
}

div.hh-data-list details>summary div.hh-title-col,
div.hh-data-list details>summary div.hh-buttons {
  padding: .3em .5em;
}

div.hh-data-list details label {
  font-weight: 500;
}

div.hh-data-list label.form-label,
div.hh-data-list label.form-check-label {
  font-size: 88%;
}

div.hh-data-list label.form-label {
  margin-bottom: 0.2rem;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
div.hh-data-list input.form-control::placeholder {
  color: #cccccc;
  opacity: 1;
}

/* Internet Explorer 10-11 */
div.hh-data-list input.form-control:-ms-input-placeholder {
  color: #cccccc;
}

/* Microsoft Edge */
div.hh-data-list input.form-control::-ms-input-placeholder {
  color: #cccccc;
}

div.hh-data-list .hh-ms-sm {
  margin-left: 2px;
}

/*********************************
* CONTROL ROW
**********************************/

div.hh-data-list div.hh-limiter label,
div.hh-data-list div.hh-expander label,
div.hh-data-list div.hh-filter-group label,
div.hh-data-list div.hh-order-group label {
  font-size: 96%;
  font-weight: 500;
}

div.hh-data-list div.hh-expander label {
  padding-right: 0;
}

div.hh-data-list div.hh-records-are-expanded {
  margin-top:0;
}

div.hh-data-list a.hh-refresh-records {
  color: steelblue;
  text-decoration: none;
}

div.hh-data-list div.hh-fields-wrapper {
  border: 1px solid var(--hh-color-old-3);
  margin-bottom: 12px;
  margin-top: 12px;
  max-height: 200px;
  overflow-y: auto;
  padding: 12px;
}

div.hh-data-list div.tab-content div.tab-pane div.hh-tab-description {
  font-size: 92%;
  margin-left: 2px;
}

div.hh-data-list div.tab-content div.tab-pane div.hh-tab-description>a {
  color: var(--hh-color-old-4) !important;
  font-weight: 500;
}

div.hh-data-list div.hh-all-fields {
  padding-left:13px;
}

div.hh-data-list div.hh-all-fields label {
  /* color:black; */
  font-size:88%;
}

/*********************************
* COUNTERS ROW
**********************************/

div.hh-data-list div.hh-counters {
  font-size: 82%;
  margin-left: 2px;
}

/*********************************
* NEW AND CREATED RECORD
**********************************/

/*********************************
* RECORDS ROW
**********************************/

div.hh-data-list div.hh-records details {
  margin-bottom: 0.3rem;
}

/**********************************************************************
* Theme variables for tabs
**********************************************************************/

div.hh-data-list ul.nav-tabs {
  border-bottom: 1px solid var(--hh-tab-border-color);
}

div.hh-data-list ul.nav-tabs>li>button {
  border: 1px solid transparent !important;
}

div.hh-data-list ul.nav-tabs>li>button.active {
  border-top-color: var(--hh-tab-border-color) !important;
  border-right-color: var(--hh-tab-border-color) !important;
  border-left-color: var(--hh-tab-border-color) !important;
}

div.hh-data-list ul.nav-tabs>li>button,
div.hh-data-list ul.nav-tabs>li>button.active  {
  color: var(--hh-tab-button-color);
}

/**********************************************************************
* Theme variables for controls
**********************************************************************/

div.hh-data-list div.hh-paginator button, 
div.hh-data-list div.hh-filter-group button, 
div.hh-data-list div.hh-order-group button,
div.hh-data-list div.hh-limiter label,
div.hh-data-list div.hh-expander label,
div.hh-data-list div.hh-filter-group label,
div.hh-data-list div.hh-order-group label {
  color: var(--hh-control-color) !important;
}

div.hh-data-list div.hh-paginator button:not(:disabled):hover,
div.hh-data-list div.hh-filter-group button:hover,
div.hh-data-list div.hh-order-group button:hover {
  color: var(--hh-control-color-hover) !important;
}

div.hh-data-list div.hh-paginator button, 
div.hh-data-list div.hh-filter-group button, 
div.hh-data-list div.hh-order-group button,
div.hh-data-list div.hh-limiter label,
div.hh-data-list div.hh-expander label,
div.hh-data-list div.hh-filter-group label,
div.hh-data-list div.hh-order-group label,
div.hh-data-list div.hh-limiter select,
div.hh-data-list div.hh-filter-group input,
div.hh-data-list div.hh-order-group input,
div.hh-data-list div.hh-expander div.hh-expander-checkbox-group {
  border-color: var(--hh-control-border-color) !important;
}

div.hh-data-list div.hh-paginator button:not(:disabled):hover,
div.hh-data-list div.hh-filter-group button:hover,
div.hh-data-list div.hh-order-group button:hover {
  border-color: var(--hh-control-border-color-hover) !important;
}

div.hh-data-list div.hh-paginator button, 
div.hh-data-list div.hh-filter-group button, 
div.hh-data-list div.hh-order-group button,
div.hh-data-list div.hh-limiter label,
div.hh-data-list div.hh-expander label,
div.hh-data-list div.hh-filter-group label,
div.hh-data-list div.hh-order-group label,
div.hh-data-list div.hh-expander div.hh-expander-checkbox-group {
  background: var(--hh-control-background-color) !important;
}

div.hh-data-list div.hh-paginator button:not(:disabled):hover,
div.hh-data-list div.hh-filter-group button:hover,
div.hh-data-list div.hh-order-group button:hover {
  background: var(--hh-control-background-color-hover) !important;
}

div.hh-data-list div.hh-paginator button:disabled {
  opacity: var(--hh-control-opacity-disabled);
}

/**********************************************************************
* Theme variables for checkboxes
**********************************************************************/

div.hh-data-list div.hh-tabs-row label.form-check-label {
  color:var(--hh-checkbox-label-color);
}

div.hh-data-list div.hh-tabs-row input.form-check-input {
  border-color: var(--hh-checkbox-border-color);
}

div.hh-data-list div.hh-tabs-row input.form-check-input:checked,
div.hh-data-list div.hh-tabs-row input.form-check-input:indeterminate {
  border-color: var(--hh-checkbox-border-color-checked);
}

div.hh-data-list div.hh-tabs-row input.form-check-input {
  background-color: var(--hh-checkbox-background-color); 
}

div.hh-data-list div.hh-tabs-row input.form-check-input:checked,
div.hh-data-list div.hh-tabs-row input.form-check-input:indeterminate {
  background-color: var(--hh-checkbox-background-color-checked);
}

div.hh-data-list div.hh-expander div.hh-expander-checkbox-group input {
  border-color: var(--hh-expander-checkbox-border-color);
}

div.hh-data-list div.hh-expander div.hh-expander-checkbox-group input:checked {
  border-color: var(--hh-expander-checkbox-border-color-checked);
}

div.hh-data-list div.hh-expander div.hh-expander-checkbox-group input {
  background-color: var(--hh-expander-checkbox-background-color); 
}

div.hh-data-list div.hh-expander div.hh-expander-checkbox-group input:checked {
  background-color: var(--hh-expander-checkbox-background-color-checked);
}

/**********************************************************************
* Theme variables for records
**********************************************************************/

/* Record border colors */

div.hh-data-list div.hh-records details {
  border-color: var(--hh-record-border-color);
}

div.hh-data-list div.hh-records details>summary {
  border-bottom-color: var(--hh-record-border-color);
}

div.hh-data-list div.hh-records details:not([open]):hover {
  border-color: var(--hh-record-border-color-hover);
}

div.hh-data-list div.hh-records details[open] {
  border-color: var(--hh-record-border-color-open);
}

div.hh-data-list div.hh-records details[open]>summary {
  border-bottom-color: var(--hh-record-border-color-open);
}

/* Record title colors */

div.hh-data-list div.hh-records details>summary {
  color: var(--hh-record-title-color);
}

div.hh-data-list div.hh-records details>summary {
  background-color: var(--hh-record-title-background-color);
}

/* Record title button colors */

div.hh-data-list div.hh-records details>summary div.hh-buttons button.btn {
  color: var(--hh-record-title-button-color);
}

div.hh-data-list div.hh-records details>summary div.hh-buttons button.btn:hover {
  color: var(--hh-record-title-button-color-hover);
}

div.hh-data-list div.hh-records details>summary div.hh-buttons button.btn.active {
  color: var(--hh-record-title-button-color-active);
}

div.hh-data-list div.hh-records details>summary div.hh-buttons button.btn {
  border-color: var(--hh-record-title-button-border-color) !important;
}

div.hh-data-list div.hh-records details>summary div.hh-buttons button.btn:hover {
  border-color: var(--hh-record-title-button-border-color-hover) !important;
}

div.hh-data-list div.hh-records details>summary div.hh-buttons button.btn.active {
  border-color: var(--hh-record-title-button-border-color-active) !important;
}

div.hh-data-list div.hh-records details>summary div.hh-buttons button.btn {
  background: var(--hh-record-title-button-background-color) !important;
}

div.hh-data-list div.hh-records details>summary div.hh-buttons button.btn:hover {
  background: var(--hh-record-title-button-background-color-hover) !important;
}

div.hh-data-list div.hh-records details>summary div.hh-buttons button.btn.active {
  background: var(--hh-record-title-button-background-color-active) !important;
}

/* Record field colors */

div.hh-data-list div.hh-records details label {
  color: var(--hh-record-field-label-color);
}

div.hh-data-list div.hh-records details input.form-control:not(disabled) {
  color: var(--hh-record-field-input-color);
}

div.hh-data-list div.hh-records details input.form-control:disabled {
  color: var(--hh-record-field-input-color-disabled);
}

div.hh-data-list div.hh-records details input.form-control:not(disabled) {
  border-color: var(--hh-record-field-input-border-color);
}

div.hh-data-list div.hh-records details input.form-control:disabled {
  border-color: var(--hh-record-field-input-border-color-disabled);
}

div.hh-data-list div.hh-records details input.form-control:not(disabled) {
  background: var(--hh-record-field-input-background-color);
}

div.hh-data-list div.hh-records details input.form-control:disabled {
  background: var(--hh-record-field-input-background-color-disabled);
}

div.hh-data-list div.hh-records details div.hh-data-row button {
  color: var(--hh-record-field-button-color);
}

div.hh-data-list div.hh-records details div.hh-data-row button {
  border-color: var(--hh-record-field-button-border-color) !important;
}

div.hh-data-list div.hh-records details div.hh-data-row button {
  background-color: var(--hh-record-field-button-background-color);
}

div.hh-data-list div.hh-records details div.hh-data-row button:disabled {
  opacity: var(--hh-record-field-button-opacity-disabled);
}

/**********************************************************************
* Theme variables for new and created records
**********************************************************************/

/* New record border colors */

div.hh-data-list div.hh-new-record details, div.hh-data-list div.hh-created-record details {
  border-color: var(--hh-new-record-border-color);
}

div.hh-data-list div.hh-new-record details>summary, div.hh-data-list div.hh-created-record details>summary {
  border-bottom-color: var(--hh-new-record-border-color);
}

div.hh-data-list div.hh-new-record details:not([open]):hover, div.hh-data-list div.hh-created-record details:not([open]):hover {
  border-color: var(--hh-new-record-border-color-hover);
}

div.hh-data-list div.hh-new-record details[open], div.hh-data-list div.hh-created-record details[open] {
  border-color: var(--hh-new-record-border-color-open);
}

div.hh-data-list div.hh-new-record details[open]>summary, div.hh-data-list div.hh-created-record details[open]>summary {
  border-bottom-color: var(--hh-new-record-border-color-open);
}

/* New record title colors */

div.hh-data-list div.hh-new-record details>summary, div.hh-data-list div.hh-created-record details>summary  {
  color: var(--hh-new-record-title-color);
}

div.hh-data-list div.hh-new-record details>summary, div.hh-data-list div.hh-created-record details>summary  {
  background: var(--hh-new-record-title-background-color);
}

/* New record title button colors */

div.hh-data-list div.hh-new-record details>summary div.hh-buttons button.btn, div.hh-data-list div.hh-created-record details>summary div.hh-buttons button.btn {
  color: var(--hh-new-record-title-button-color);
}

div.hh-data-list div.hh-new-record details>summary div.hh-buttons button.btn:hover, div.hh-data-list div.hh-created-record details>summary div.hh-buttons button.btn:hover {
  color: var(--hh-new-record-title-button-color-hover);
}

div.hh-data-list div.hh-new-record details>summary div.hh-buttons button.btn, div.hh-data-list div.hh-created-record details>summary div.hh-buttons button.btn {
  border-color: var(--hh-new-record-title-button-border-color) !important;
}

div.hh-data-list div.hh-new-record details>summary div.hh-buttons button.btn:hover, div.hh-data-list div.hh-created-record details>summary div.hh-buttons button.btn:hover {
  border-color: var(--hh-new-record-title-button-border-color-hover) !important;
}

div.hh-data-list div.hh-new-record details>summary div.hh-buttons button.btn, div.hh-data-list div.hh-created-record details>summary div.hh-buttons button.btn {
  background: var(--hh-new-record-title-button-background-color) !important;
}

div.hh-data-list div.hh-new-record details>summary div.hh-buttons button.btn:hover, div.hh-data-list div.hh-created-record details>summary div.hh-buttons button.btn:hover {
  background: var(--hh-new-record-title-button-background-color-hover) !important;
}

/* old stuff */

/*
--hh-new-record-title-button-color
--hh-new-record-title-button-color-hover
--hh-new-record-title-button-border-color
--hh-new-record-title-button-border-color-hover
--hh-new-record-title-button-background-color
--hh-new-record-title-button-background-color-hover
*/

/* div.hh-data-list div.hh-new-record details>summary div.hh-buttons label.btn,
div.hh-data-list div.hh-new-record details>summary div.hh-buttons button.btn,
div.hh-data-list div.hh-created-record details>summary div.hh-buttons label.btn,
div.hh-data-list div.hh-created-record details>summary div.hh-buttons button.btn {
  border-color: transparent !important;
  color: white;
} */

/* div.hh-data-list div.hh-new-record details>summary div.hh-buttons label.btn:hover,
div.hh-data-list div.hh-new-record details>summary div.hh-buttons button.btn:hover,
div.hh-data-list div.hh-created-record details>summary div.hh-buttons label.btn:hover,
div.hh-data-list div.hh-created-record details>summary div.hh-buttons button.btn:hover {
  background: white;
  color: var(--hh-color-old-4);
} */

div.hh-data-list div.hh-new-record details input.form-control {
  background: white;
  border-color: var(--hh-color-old-4);
}

div.hh-data-list div.hh-created-record details input.form-control {
  background: var(--hh-color-old-1);
  border-color: var(--hh-color-old-1);
}

div.hh-data-list form.hh-new-record-form button {
  background: var(--hh-color-old-4);
  border-color: var(--hh-color-old-4) !important;
  color: white;
}
