h2 {font-size: 18px;}

nav.navbar {background:white;}

div.messages-widget {
  background: white;
  border: 1px solid #d9d9d9;
}

div.messages-widget div.title-wrapper {
  border-bottom: 1px solid #d9d9d9;
}

div.messages-widget div.title-component {
  display: table-cell;
  height: 40px;
  padding: 6px 6px;
  vertical-align: middle;
}

div.messages-widget div.title-component button:not(:hover) {
  border-color:#d9d9d9;
}

div.messages-widget div.messages {
  border-radius: 0.25rem;
  font-size: 90%;
  height: 100px;
  overflow: auto;
  padding: 6px 12px;
  resize: vertical;
  scroll-padding-bottom: 6px;
}

div.messages-widget div.messages ol {
  margin-bottom: 0px;
}